<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Collaborative Filtering

Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

-   Create recommendation system based on collaborative filtering

Recommendation systems are a collection of algorithms used to recommend items to users based on information taken from the user. These systems have become ubiquitous can be commonly seen in online stores, movies databases and job finders. In this notebook, we will explore recommendation systems based on Collaborative Filtering and implement simple version of one using Python and the Pandas library.

<h1>Table of contents</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#ref1">Acquiring the Data</a></li>
        <li><a href="#ref2">Preprocessing</a></li>
        <li><a href="#ref3">Collaborative Filtering</a></li>
    </ol>
</div>
<br>
<hr>

<a id="ref1"></a>

# Acquiring the Data

To acquire and extract the data, simply run the following Bash scripts:  
Dataset acquired from [GroupLens](http://grouplens.org/datasets/movielens?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Lets download the dataset. To download the data, we will use **`!wget`** to download it from IBM Object Storage.  
**Did you know?** When it comes to Machine Learning, you will likely be working with large datasets. As a business, where can you host your data? IBM is offering a unique opportunity for businesses, with 10 Tb of IBM Cloud Object Storage: [Sign up now for free](http://cocl.us/ML0101EN-IBM-Offer-CC)

In [1]:
#!wget -O moviedataset.zip https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip
print('unziping ...')
#!unzip -o -j moviedataset.zip

unziping ...

Now you're ready to start working with the data!

<hr>

<a id="ref2"></a>

# Preprocessing

First, let's get all of the imports out of the way:

In [2]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Now let's read each file into their Dataframes:

In [3]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('ml_latest/movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ml_latest/ratings.csv')

Let's also take a peek at how each of them are organized:

In [4]:
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

So each movie has a unique ID, a title with its release year along with it (Which may contain unicode characters) and several different genres in the same field. Let's remove the year from the title column and place it into its own one by using the handy [extract](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html#pandas.Series.str.extract?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) function that Pandas has.

Let's remove the year from the **title** column by using pandas' replace function and store in a new **year** column.

In [5]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

<ipython-input-5-a9c0647d2a00>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

Let's look at the result!

In [6]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

With that, let's also drop the genres column since we won't need it for this particular recommendation system.

In [7]:
#Dropping the genres column
movies_df = movies_df.drop('genres', 1)

Here's the final movies dataframe:

In [8]:
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

<br>

Next, let's look at the ratings dataframe.

In [9]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so let's drop it to save on memory.

In [10]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)

Here's how the final ratings Dataframe looks like:

In [11]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

<hr>

<a id="ref3"></a>

# Collaborative Filtering

Now, time to start our work on recommendation systems. 

The first technique we're going to take a look at is called **Collaborative Filtering**, which is also known as **User-User Filtering**. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the **Pearson Correlation Function**.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/images/User_Item.png" width=800px>

The process for creating a User Based recommendation system is as follows:

-   Select a user with the movies the user has watched
-   Based on his rating to movies, find the top X neighbours 
-   Get the watched movie record of the user for each neighbour.
-   Calculate a similarity score using some formula
-   Recommend the items with the highest score

Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [14]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5},
            {'title':'Avengers, The', 'rating':8.0},
            {'title':'Godfather, The', 'rating': 9.3},
            {'title':'Fast and the Furious, The', 'rating':2.5},
            {'title':'Interstellar', 'rating':9.0},
            {'title':'Arrival, The', 'rating':9.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                       title  rating
0        Breakfast Club, The     5.0
1                  Toy Story     3.5
2                    Jumanji     2.0
3               Pulp Fiction     5.0
4                      Akira     4.5
5              Avengers, The     8.0
6             Godfather, The     9.3
7  Fast and the Furious, The     2.5
8               Interstellar     9.0
9               Arrival, The     9.5

#### Add movieId to input user

With the input complete, let's extract the input movies's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movies' title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [15]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)

In [16]:
inputMovies

    movieId                      title  year  rating
0         1                  Toy Story  1995     3.5
1         2                    Jumanji  1995     2.0
2       296               Pulp Fiction  1994     5.0
3       748               Arrival, The  1996     9.5
4       858             Godfather, The  1972     9.3
5      1274                      Akira  1988     4.5
6      1968        Breakfast Club, The  1985     5.0
7      2153              Avengers, The  1998     8.0
8     89745              Avengers, The  2012     8.0
9      4369  Fast and the Furious, The  2001     2.5
10    69945  Fast and the Furious, The  1955     2.5
11   109487               Interstellar  2014     9.0

In [17]:
inputMovies.drop(inputMovies.index[(inputMovies['title'] == 'Fast and the Furious, The') & (inputMovies['year'] == '1955')]
                                 , inplace = True)

In [18]:
inputMovies.drop(inputMovies.index[(inputMovies['title'] == 'Avengers, The') & (inputMovies['year'] == '1998')]
                                 , inplace = True)

In [19]:
inputMovies = inputMovies.reset_index(drop=True)

In [20]:
inputMovies

   movieId                      title  year  rating
0        1                  Toy Story  1995     3.5
1        2                    Jumanji  1995     2.0
2      296               Pulp Fiction  1994     5.0
3      748               Arrival, The  1996     9.5
4      858             Godfather, The  1972     9.3
5     1274                      Akira  1988     4.5
6     1968        Breakfast Club, The  1985     5.0
7    89745              Avengers, The  2012     8.0
8     4369  Fast and the Furious, The  2001     2.5
9   109487               Interstellar  2014     9.0

In [21]:
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                      title  rating
0        1                  Toy Story     3.5
1        2                    Jumanji     2.0
2      296               Pulp Fiction     5.0
3      748               Arrival, The     9.5
4      858             Godfather, The     9.3
5     1274                      Akira     4.5
6     1968        Breakfast Club, The     5.0
7    89745              Avengers, The     8.0
8     4369  Fast and the Furious, The     2.5
9   109487               Interstellar     9.0

#### The users who has seen the same movies

Now with the movie ID's in our input, we can now get the subset of users that have watched and reviewed the movies in our input.

In [22]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
4         2   109487     4.0
19        4      296     4.0
241       7      858     3.5
252       7   109487     5.0
441      12     1968     3.0

In [27]:
userSubset.shape

(279275, 3)

In [28]:
pd.unique(userSubset['userId'])

array([     2,      4,      7, ..., 247750, 247751, 247753], dtype=int64)

In [29]:
len(pd.unique(userSubset['userId']))

133297

We now group up the rows by user ID.

In [23]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

In [25]:
print(userSubsetGroup)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024600205B20>

lets look at one of the users, e.g. the one with userID=1130

In [26]:
userSubsetGroup.get_group(1130)

        userId  movieId  rating
104167    1130        1     0.5
104168    1130        2     4.0
104214    1130      296     4.0
104363    1130     1274     4.5
104443    1130     1968     4.5
105108    1130    89745     1.5

Let's also sort these groups so the users that share the most movies in common with the input have higher priority. This provides a richer recommendation since we won't go through every single user.

In [30]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

Now lets look at the first user

In [31]:
userSubsetGroup[0:3]

[(815,
         userId  movieId  rating
  73747     815        1     4.5
  73748     815        2     3.0
  73922     815      296     5.0
  74154     815      748     3.0
  74190     815      858     3.0
  74362     815     1274     3.0
  74678     815     1968     4.5
  75711     815     4369     2.0
  78097     815    89745     3.5
  78600     815   109487     3.0),
 (3734,
          userId  movieId  rating
  340015    3734        1     5.0
  340016    3734        2     4.0
  340087    3734      296     2.0
  340190    3734      748     4.0
  340204    3734      858     3.0
  340315    3734     1274     5.0
  340465    3734     1968     5.0
  341161    3734     4369     3.0
  342106    3734    89745     4.0
  342248    3734   109487     4.5),
 (6530,
          userId  movieId  rating
  611461    6530        1     3.5
  611462    6530        2     4.0
  611614    6530      296     4.0
  611798    6530      748     3.0
  611834    6530      858     4.5
  611969    6530     1274     3.0
  612202    6530     1968     3.5
  612841    6530     4369     3.0
  614025    6530    89745     3.5
  614184    6530   109487     3.0)]

#### Similarity of users to input user

Next, we are going to compare all users (not really all !!!) to our specified user and find the one that is most similar.  
we're going to find out how similar each user is to the input through the **Pearson Correlation Coefficient**. It is used to measure the strength of a linear association between two variables. The formula for finding this coefficient between sets X and Y with N values can be seen in the image below. 

Why Pearson Correlation?

Pearson correlation is invariant to scaling, i.e. multiplying all elements by a nonzero constant or adding any constant to all elements. For example, if you have two vectors X and Y,then, pearson(X, Y) == pearson(X, 2 * Y + 3). This is a pretty important property in recommendation systems because for example two users might rate two series of items totally different in terms of absolute rates, but they would be similar users (i.e. with similar ideas) with similar rates in various scales .

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")

The values given by the formula vary from r = -1 to r = 1, where 1 forms a direct correlation between the two entities (it means a perfect positive correlation) and -1 forms a perfect negative correlation. 

In our case, a 1 means that the two users have similar tastes while a -1 means the opposite.

We will select a subset of users to iterate through. This limit is imposed because we don't want to waste too much time going through every single user.

In [32]:
userSubsetGroup = userSubsetGroup[0:100]

Now, we calculate the Pearson Correlation between input user and subset group, and store it in a dictionary, where the key is the user Id and the value is the coefficient

In [33]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [34]:
pearsonCorrelationDict.items()

dict_items([(815, -0.08268732502362842), (3734, -0.05279517836434711), (6530, 0.003661235590659511), (12120, 0.33077910164285274), (39994, 0.3402882055093769), (51033, 0.4523235822380948), (57117, 0.15675519752495537), (58040, -0.05032236213714477), (74551, 0.42992961528062434), (78629, 0.6186969846223418), (84039, 0.5517073748794639), (90613, 0.06576649951840015), (96736, -0.03459759987908252), (116283, 0.45581713500657406), (147003, 0.3889016715622297), (153441, 0.6565956054239576), (156114, 0.12017973453191824), (164890, 0.36714889795040445), (171530, -0.13721087922492145), (206094, 0.11820976404930551), (216540, -0.1427881880357688), (222002, 0.4227227039614483), (231391, 0.17200821843186195), (233281, 0.2911081458527625), (239034, 0.31931924570173076), (246533, -0.020568780410811432), (1204, 0.20284730677394122), (1502, -0.3430657986407979), (3388, 0.32964246693666305), (4208, 0.1131622349479199), (4586, 0.04654584901487758), (5104, 0.25240867089311964), (6701, -0.4184476205505597), (8008, -0.20032379031864578), (9101, 0.08782510255524154), (14588, 0.32077016891686766), (15466, 0.3787890385303962), (16382, 0.23826475428223787), (16456, 0.7564077802441025), (17501, 0.17346595097347606), (21148, 0.47774280476980013), (22018, 0.6012693170678911), (22883, 0.16929346838339784), (23534, 0.4511974594497617), (24518, 0.5488204139696004), (28670, 0.6668698489765709), (28946, 0.579340332142604), (30758, 0.7198577463116871), (32033, -0.13470012466928316), (32419, 0.33016110020278755), (32599, -0.25943086571057805), (35964, 0.519785863292182), (36946, -0.2771538864176174), (37333, -0.03298630633458524), (38210, 0.20679314914017213), (38957, 0.3982528794490575), (39123, -0.06580964445885615), (39142, -0.17440900692740416), (44758, 0.5750454245047234), (44892, 0.43464783319373185), (45300, -0.3149070925121473), (46455, 0.43486054878872205), (47648, 0.5007728695364733), (47897, 0.3648711609183455), (48098, 0.373604908027645), (50259, 0.005080302207344479), (50313, 0.5202233108259622), (51920, 0.6544122064101476), (52673, 0.34796255716073426), (53735, 0.5408475046187673), (55882, 0.465029938512026), (57474, 0.6534366984421374), (59489, 0.5089797089752791), (59584, 0.4613664473787857), (59853, -0.10498333978279098), (63839, -0.16863512848217108), (68783, 0.4079749156530681), (72566, -0.1238529811515402), (73908, 0.2615654655548112), (73925, 0.48712969628017294), (74234, -0.006485896993875618), (78869, 0.45802839630636644), (78871, 0.018638423815996046), (85133, 0.553060094624569), (86318, 0.09914200058907642), (87926, 0.08541951697096449), (88296, 0.061396284603215896), (88406, -0.26266611184886496), (90278, 0.6354855263699319), (90496, 0.20351774769204997), (91951, 0.6447640856567216), (94166, 0.25540471332629483), (98870, 0.07940640563311847), (99992, 0.0865090805644381), (100825, 0.2894432389649159), (101194, 0.1841233886984937), (104481, 0.48426773173780147), (104587, -0.431844791491118), (105420, 0.3512613892485802), (106293, 0.3896711806267641)])

In [35]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0        -0.082687     815
1        -0.052795    3734
2         0.003661    6530
3         0.330779   12120
4         0.340288   39994

#### The top x similar users to input user

Now let's get the top 50 users that are most similar to the input.

In [36]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
38         0.756408   16456
47         0.719858   30758
45         0.666870   28670
15         0.656596  153441
67         0.654412   51920

Now, let's start recommending movies to the input user.

#### Rating of selected users to all movies

We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our **pearsonDF** from the ratings dataframe and then store their correlation in a new column called _similarityIndex". This is achieved below by merging of these two tables.

In [37]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0         0.756408   16456        1     4.0
1         0.756408   16456        2     1.5
2         0.756408   16456        6     4.0
3         0.756408   16456       10     3.0
4         0.756408   16456       16     4.5

Now all we need to do is simply multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

We can easily do this by simply multiplying two columns, then grouping up the dataframe by movieId and then dividing two columns:

It shows the idea of all similar users to candidate movies for the input user:

In [38]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0         0.756408   16456        1     4.0        3.025631
1         0.756408   16456        2     1.5        1.134612
2         0.756408   16456        6     4.0        3.025631
3         0.756408   16456       10     3.0        2.269223
4         0.756408   16456       16     4.5        3.403835

In [39]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  23.951950           91.005783
2                  23.951950           62.046154
3                   8.793134           23.840211
4                   3.114387            6.078321
5                   7.335962           19.738537

In [40]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.799515        1
2                                     2.590443        2
3                                     2.711230        3
4                                     1.951691        4
5                                     2.690654        5

Now let's sort it and see the top 20 movies that the algorithm recommended!

In [41]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
26048                                      5.0    26048
5953                                       5.0     5953
26073                                      5.0    26073
408                                        5.0      408
8334                                       5.0     8334
92702                                      5.0    92702
47904                                      5.0    47904
7130                                       5.0     7130
25828                                      5.0    25828
79333                                      5.0    79333

In [42]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                              title  year
404        408                                          8 Seconds  1994
5855      5953              Devils on the Doorstep (Guizi lai le)  2000
7019      7130                                            Darling  1965
7753      8334                                       Cowboys, The  1972
8412     25828                              Petrified Forest, The  1936
8575     26048       Human Condition II, The (Ningen no joken II)  1959
8592     26073     Human Condition III, The (Ningen no joken III)  1961
11296    47904                   Notti bianche, Le (White Nights)  1957
15609    79333  Watch Out for the Automobile (Beregis avtomobi...  1966
18670    92702                       Johnny Cash at Folsom Prison  2008

### Advantages and Disadvantages of Collaborative Filtering

##### Advantages

-   Takes other user's ratings into consideration
-   Doesn't need to study or extract information from the recommended item
-   Adapts to the user's interests which might change over time

##### Disadvantages

-   Approximation function can be slow
-   There might be a low of amount of users to approximate
-   Privacy issues when trying to learn the user's preferences

<h2>Want to learn more?</h2>

IBM SPSS Modeler is a comprehensive analytics platform that has many machine learning algorithms. It has been designed to bring predictive intelligence to decisions made by individuals, by groups, by systems  by your enterprise as a whole. A free trial is available through this course, available here: <a href="https://www.ibm.com/analytics/spss-statistics-software">SPSS Modeler</a>

Also, you can use Watson Studio to run these notebooks faster with bigger datasets. Watson Studio is IBM's leading cloud solution for data scientists, built by data scientists. With Jupyter notebooks, RStudio, Apache Spark and popular libraries pre-packaged in the cloud, Watson Studio enables data scientists to collaborate on their projects without having to install anything. Join the fast-growing community of Watson Studio users today with a free account at <a href="https://www.ibm.com/cloud/watson-studio">Watson Studio</a>

### Thank you for completing this lab!

## Author

Saeed Aghabozorgi

### Other Contributors

<a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2020-11-03        | 2.1     | Lakshmi    | Updated URL of csv                 |
| 2020-08-27        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |
|                   |         |            |                                    |
|                   |         |            |                                    |

## <h3 align="center">  IBM Corporation 2020. All rights reserved. <h3/>